{{ if .work -}}
tap "derailed/k9s", trusted: true
tap "anomalyco/tap", trusted: true
tap "pulumi/tap", trusted: true

{{ end -}}
brew "chezmoi"
{{ if .work -}}
brew "derailed/k9s/k9s", trusted: true
{{ end -}}
brew "fd"
brew "herdr"
brew "libpq"
brew "neovim"
brew "ripgrep"
brew "starship"
brew "tree"
brew "tree-sitter-cli"
brew "uv"

cask "font-jetbrains-mono-nerd-font"
cask "ghostty"
cask "claude-code@latest"
