{{ if .work -}}
tap "pulumi/tap", trusted: true

{{ end -}}
brew "chezmoi"
brew "fd"
brew "herdr"
brew "libpq"
brew "neovim"
brew "ripgrep"
brew "starship"
brew "tree"
brew "tree-sitter-cli"
brew "uv"

cask "font-jetbrains-mono-nerd-font"
cask "ghostty"
cask "claude-code@latest"
cask "orbstack"
